body {
  text-align: center;
}
.container {
  width: 720px;
  margin: 30px auto; }

::-webkit-input-placeholder {
  color: #333; }

::-moz-placeholder {
  color: #333; }

:-ms-input-placeholder {
  color: #333; }

:-moz-placeholder {
  color: #333; }

/*  End Placeholder */
* {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.calculator-block {
  border: 1px solid #E4E4E4;
  float: left;
  padding: 20px;
  box-shadow: -1px 4px 5px #999; }

.calculator {
  display: table;
  margin: auto; }

ul, ol, li {
  margin: 0;
  padding: 0; }

input {
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #9E9E9E; 
}

#displayResult, #getInputValue, .number-list {
  width: 190px; 
}

#displayResult, #getInputValue {
  font-family: monospace;
   }

#displayResult {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #888;
  padding: 5px;
  float: left;
  clear: both; 
}

#getInputValue {
  border-color: #666;
  color: transparent;
  text-shadow: 0 0 0 #333;
  float: left; 
}

.number-list > li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #333;
  font-weight: 300;
  padding: 5px 10px;
  width: 44px;
  border: 1px solid #c6c6c6;
  color: #444; 
}
.number-list > li.bg-black {
  background-color: #666 !important;
  border-color: #666 !important;
  color: #FFF !important; 
}
  .number-list > li.bg-black:hover {
    background-color: #333 !important;
    color: #FFF !important;
    border-color: #333 !important; 
  }

.number-list .bg-gray1 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #FFF; 
}
.number-list .bg-gray2 {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #FFF; 
}

.number-list > li.decimal-obj {
  background-color: #FFF;
  background-image: none; 
}

.log-block {
  margin-top: 30px;
  margin-bottom: 30px; 
}

.btn-clear {
  border-radius: 2px;
  background: #666;
  color: #FFF;
  margin-bottom: 20px; 
}

#clearButton {
  display: none; 
}

#errorMsg {
  font-family: monospace;
  color: #333;
  text-align: center;
  display: block;
  margin-top: 20px;
  height: 40px; 
}

table tr:first-child {
  background: #E6E6E6;
}